<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.ItemMapper">
    <!--添加对象-->
    <insert id="add" parameterType="com.itheima.domain.pojo.CheckItem">
        insert into t_checkitem (code,name,sex,age,price,type,remark,attention)
        values (#{code},#{name},#{sex},#{age},#{price},#{type},#{remark},#{attention})
    </insert>

    <!--根据条件进行查询-->
    <select id="findByName" parameterType="String" resultType="com.itheima.domain.pojo.CheckItem">
        select * from t_checkitem
        <if test="value!=null and value.length>0">
            where code=#{value} or name=#{value}
        </if>
    </select>

    <!--按照id进行删除-->
    <delete id="deleteById" parameterType="int">
        delete from t_checkitem where id=#{id}
    </delete>

    <!--通过id进行查询-->
    <select id="findById" parameterType="int" resultType="checkitem">
        select * from t_checkitem where id=#{id}
    </select>

    <!--更新对象-->
    <update id="update" parameterType="checkitem">
        update t_checkitem
        <set>
            <if test="code!=null and code.length>0">
                code=#{code},
            </if>
            <if test="name!=null and name.length>0">
                name=#{name},
            </if>
            <if test="sex!=null and sex.length>0">
                sex=#{sex},
            </if>
            <if test="age!=null and age.length>0">
                age=#{age},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="type!=null and type.length>0">
                type=#{type},
            </if>
            <if test="attention!=null and attention.length>0">
                attention=#{attention},
            </if>
            <if test="remark!=null and remark.length>0">
                remark=#{remark},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据checkitem的id在检查组和检查项的中间表进行查询检查项的个数-->
    <select id="findGroupIdCount" parameterType="int" resultType="int">
        select count(*) from t_checkgroup_checkitem where checkitem_id=#{id};
    </select>

    <!--查询所有的检查项-->
    <select id="findAll" resultType="checkitem">
        select * from t_checkitem
    </select>

    <!--通过检查组的id查询对应的检查项-->
    <select id="findByGroupId" parameterType="int" resultType="checkitem">
        select * from t_checkitem where id in (select checkitem_id from t_checkgroup_checkitem where checkgroup_id=#{id})
    </select>
</mapper>