<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.OrderMapper">
    <!--根据orderDate,setmealId,member_Id判断是否已经预约-->
    <select id="isOrder" resultType="long" parameterType="order">
        select count(id) from t_order where member_id=#{memberId} and
         orderDate=#{orderDate} and setmeal_id=#{setmealId}
    </select>

    <!--预约操作,即在t_order中添加对象-->
    <insert id="add" parameterType="order">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID();
        </selectKey>
        insert into t_order values (#{id},#{memberId},#{orderDate},#{orderType},#{orderStatus},#{setmealId})
    </insert>

    <!--根据order表的id值查询相关联表的值-->
    <select id="findAllBy" resultType="map" parameterType="int">
        select
            (select name from t_member where id=member_id) member,
            (select name from t_setmeal where id=setmeal_id) setmeal,
            orderDate,
            orderType
        from
            t_order
        where id=#{id}
    </select>

    <!--今日预约人数-->
    <select id="todayOrder" resultType="int">
        SELECT COUNT(id) FROM t_order WHERE orderDate=CURDATE();
    </select>

    <!--本周预约人数-->
    <select id="weekOrder" resultType="int" parameterType="string">
        SELECT COUNT(id) FROM t_order WHERE orderDate>=#{date};
    </select>

    <!--本月预约人数-->
    <select id="monthOrder" resultType="int">
        SELECT COUNT(id) FROM t_order WHERE orderDate>=DATE_FORMAT(CURDATE(),'%Y-%m-1');
    </select>

    <!--今日到诊人数-->
    <select id="orderStatus" resultType="int">
        SELECT COUNT(id) FROM t_order WHERE orderStatus='已到诊' AND orderDate=CURDATE()
    </select>

    <!--本周到诊人数-->
    <select id="weekStatus" resultType="int" parameterType="string">
        SELECT COUNT(id) FROM t_order WHERE orderStatus='已到诊' AND orderDate>=#{value};
    </select>

    <!--本月到诊人数-->
    <select id="monthStatus" resultType="int">
        SELECT COUNT(id) FROM t_order WHERE orderStatus='已到诊' AND orderDate>=DATE_FORMAT(CURDATE(),'%Y-%m-1');
    </select>

    <!--热门套餐-->
    <select id="getHotSetmeal" resultType="map">
        SELECT
            COUNT(o.`id`) setmeal_count,
            (SELECT NAME FROM t_setmeal s WHERE  o.setmeal_id=s.id) name,
            COUNT(o.`id`)/(SELECT COUNT(o.id) FROM t_order o) proportion
        FROM
            t_order o
        GROUP BY
            o.`setmeal_id`
        ORDER BY
            COUNT(o.id) DESC
        LIMIT
            0,4;
    </select>
</mapper>